nav {
  background-color: #2c3e50;
  padding: 10px;
  display: flex;
  gap: 20px;
}

nav a {
  color: rgb(6, 6, 11);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}